/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    background-color: #f1f1f1;
    border-radius: 25px;
}

.body {
    padding-right: 2%;
}

.service {
    border-style: solid;
    border: #444;
    display: flex;
    margin: 1%;
    height: fit-content;
}
