<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Watte-E | Recomendaciones Personalizadas </title>
    </head>
    <body>
        <section>
            <div class="container" style="margin-top: 20px; margin-bottom: 20px; border-radius: 2%; background-color: #ccc;">
                <h1>Recomendaciones Personalizadas</h1>
                <h3>Rellena el siguiente formulario para que te ayudemos a encontrar la opción que más te conviene</h3> <br>
                <form action="<%=sendFormPath%>" method="post">
                    <div class="form-group">
                        <label for="comuna">¿En qué comuna vives?</label>
                        <br>
                        <select class="form-group">          
                            <%comunas.forEach((comuna) => {%>
                            <option value="<%=comuna%>"><%=comuna%></option>
                            <%})%>
                        </select>
                        <br>
                    </div> <br>
                    <div class="form-group" >
                        <label for="squareMeters">Ingresa la cantidad de metros cuadrados disponibles para la instalación
                        <input class="form-control" type="number"
                        name="squareMeters"/>
                    </div> <br>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="averageConsumption"> Ingresa tu consumo
                                promedio mensual. Puedes revisar esta cifra en tu
                                boleta de consumo eléctrico.
                                <input class="form-control" type="number"
                                name="averageConsumption">
                        </div> <br>
                        <div class="form-group">
                            <label for="clientType"> Seleccione su tipo de
                                tarifa:<br>
                                <p>
                                Puedes revisar esto en tu boleta de consumo
                                eléctrico, ya que determina el tipo de tarifa
                                eléctrica que tu distribuidora te cobra.
                                </p>
                            <select class="form-group"> 
                                <option value="BT1">BT1</option>
                                <option value="BT2">BT2</option>
                                <option value="BT3">BT3</option>
                                <option value="BT4.1">BT4.1</option>
                                <option value="BT4.3">BT4.3</option>
                                <option value="AT2">AT2</option>
                                <option value="AT3">AT3</option>
                                <option value="AT4.3">AT4.3</option>
                            </select>
                        </div><br>
                        <input style="border-color: black; color: black; background-color: #FFC000;" class="btn btn-success" type="submit" value="Consultar"/>
                    </div> <br>
                </form>
                    </div>
        </section>
    </body>
</html>
