<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <section>
            <div>
                <h1>Recomendaciones Personalizadas</h1>
                <h2>Rellena el siguiente formulario para que te ayudemos a encontrar la opción que más te conviene</h2>
                <form action="<%= sendFormPath %>" method="get">


                <div>
                    <div>
                        <label for="region">Región</label>
                            <select name="region">
                                <option value="I">I - Tarapacá</option> 
                                <option value="II">II - Antofagasta</option>
                                <option value="III">III - Atacama</option>
                                <option value="IV">IV - Coquimbo</option>
                                <option value="V">V - Valparaíso</option>
                                <option value="VI">VI - O'Higgins</option>
                                <option value="VII">VII - Maule</option>
                                <option value="VIII">VIII - Biobio</option>
                                <option value="IX">IX - La Araucanía</option>
                                <option value="X">X - Los Lagos</option>
                                <option value="XI">XI - Aysén</option>
                                <option value="XII">XII - Magallanes</option>
                                <option value="XIII">XIII - Metropolitana</option>
                                <option value="XIV">XIV - Los Ríos</option>
                                <option value="XV">XV - Arica y Parinacota</option>
                                <option value="XVI">XVI - Ñuble</option>
                            </select>
                    </div>
                </div>
                <div>
                    Tipo de vivienda <br>
                    <label for="homeType">Casa</label>
                    <input type="radio" name="homeType" value="Casa"/>
                    <label for="homeType">Departamento</label>
                    <input type="radio" name="homeType" value="Departamento"/>
                </div>
                <div>
                    <label for="spaceAvailable">Patio</label>
                    <input type="text" name="spaceAvailable" value=""/>
                </div>
                <div>
                    <label for="timeAtHome">¿?</label>
                    <input type="text" name="timeAtHome" value=""/>
                </div>
                <div>
                    <label for="porpoertyArea">Clave: </label>
                    <input type="password" name="porpoertyArea" value=""/>
                </div>
                <div>
                    <label for="lightBulbQuantity">Foto de perfil: </label>
                    <input type="file" name="lightBulbQuantity" value=""/>
                </div>
                <div>
                    <label for="lightBulbType">Foto de perfil: </label>
                    <input type="file" name="lightBulbType" value=""/>
                </div>
                <div>
                    <label for="proucts">Foto de perfil: </label>
                    <input type="check" name="products" value=""/>
                </div>

                <div>
                    <input class="boton" type="submit" value="Consultar"/>
                </div>
                </form>
            </div>
        </section>
    </body>
</html>