<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <section>
            <div>
                <h1>Recomendaciones Personalizadas</h1>
                <h3>Rellena el siguiente formulario para que te ayudemos a encontrar la opción que más te conviene</h3>
                <form action="<%=sendFormPath%>" method="post">
                    <div>
                        <label for="region">¿En qué región vives?</label> <br>
                        <select name="region">
                            <option value="I">I - Tarapacá</option> 
                            <option value="II">II - Antofagasta</option>
                            <option value="III">III - Atacama</option>
                            <option value="IV">IV - Coquimbo</option>
                            <option value="V">V - Valparaíso</option>
                            <option value="VI">VI - O'Higgins</option>
                            <option value="VII">VII - Maule</option>
                            <option value="VIII">VIII - Biobio</option>
                            <option value="IX">IX - La Araucanía</option>
                            <option value="X">X - Los Lagos</option>
                            <option value="XI">XI - Aysén</option>
                            <option value="XII">XII - Magallanes</option>
                            <option value="XIII">XIII - Metropolitana</option>
                            <option value="XIV">XIV - Los Ríos</option>
                            <option value="XV">XV - Arica y Parinacota</option>
                            <option value="XVI">XVI - Ñuble</option>
                        </select>
                    </div> <br>
                    <div>
                        ¿En qué tipo de vivienda vives? <br>
                        <input type="radio" name="homeType" value="Casa"/>
                        <label for="homeType">Casa</label> <br>
                        <input type="radio" name="homeType" value="Departamento"/>
                        <label for="homeType">Departamento</label> <br>
                    </div> <br>
                    <div>
                        ¿Tienes un patio? <br>
                        <input type="radio" name="spaceAvailable" value= <% true %>/>  
                        <label for="spaceAvailable">Sí, uno propio</label> <br>
                        <input type="radio" name="spaceAvailable" value= <% true %>/>
                        <label for="spaceAvailable">Sí, uno compartido</label> <br>
                        <input type="radio" name="spaceAvailable" value= <% false %>/>
                        <label for="spaceAvailable">No</label> <br>
                    </div> <br>
                    <div>
                        Selecciona las alternativas que representen el tiempo que hay alguien en el hogar para un día cualquiera <br>
                        <input type="checkbox" name="afternoon">
                        <label for="afternoon">Hay por lo menos una persona durante la mañana</label> <br>
                        <input type="checkbox" name="morning">
                        <label for="morning">Hay por lo menos una persona durante la tarde</label> <br>
                        <input type="checkbox" name="night">
                        <label for="night">Hay por lo menos una persona durante la noche</label> <br>
                    </div> <br>
                    <div>
                        <label for="propertyArea">Ingresa la cantidad de metros cuadrados de tu propiedad</label> <br>
                        <input type="number" name="propertyArea"/>
                    </div> <br>
                    <div>
                        <label for="lightBulbQuantity">Ingresa la cantidad de ampolletas en el hogar </label> <br>
                        <input type="number" name="lightBulbQuantity"/>
                    </div> <br>
                    <div>
                        <label for="lightBulbType"> ¿Cuántas de tus ampolletas son LED?</label> <br>
                        <input type="radio" name="lightBulbType" value= <% true %>/>  
                        <label for="lightBulbType">Todas</label> <br>
                        <input type="radio" name="lightBulbType" value= <% true %>/>
                        <label for="lightBulbType">La mayoría</label> <br>
                        <input type="radio" name="lightBulbType" value= <% false %>/>
                        <label for="lightBulbType">La minoría</label> <br>
                        <input type="radio" name="lightBulbType" value= <% false %>/>
                        <label for="lightBulbType">Ninguna</label> <br>
                    </div> <br>
                    <div>
                        Selecciona todas las medidas de eficiencia energética que hayas implementado en tu hogar<br>
                        <input type="checkbox" name="solarPanel">
                        <label for="solarPanel">Panel solar fotovoltáico</label> <br>
                        <input type="checkbox" name="refrigerator">
                        <label for="refrigerator">Refrigerador con etiqueta de Eficiencia Energética A</label> <br>
                        <input type="checkbox" name="dryer">
                        <label for="dryer">Secadora con etiqueta de Eficiencia Energética A</label> <br>
                        <input type="checkbox" name="stove">
                        <label for="stove">Estufa eléctrica con etiqueta de Eficiencia Energética A</label> <br>
                    </div> <br>
                    <div>
                        <input type="submit" value="Consultar"/>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>